@{
    ViewData["Title"] = "Start";
}

<div class="text-center">
    <h1 class="display-4">Välkommen</h1>
    <p>Detta är en applikation för att lista min fiktiva boksamling. I applikationen kan man se, lägga till, radera och redigera böcker.</p>
    <p>Mycket nöje!</p>
</div>
